body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.home-page {
  text-align: center;
  padding: 20px;
}

.home-page h1 {
  font-size: 3em;
}

.home-page button {
  padding: 10px 20px;
  font-size: 1.5em;
  cursor: pointer;
}

.game-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

